* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(0, 140, 145);
  color: white;
  overflow: hidden;
}

header h3 {
  padding: 6px 0;
}

header p {
  float: left;
  width: 31%;
  height: 98%;
  padding-top: 10px;
  margin-left: 1%;
  text-align: center;
}

.clicked {
  border-bottom: 2px solid yellow;
  color: white;
}

.not-clicked {
  color: rgb(80, 194, 175);
}

.list-page-container {
  width: 98%;
  margin: 20px auto;
  padding: 25px 0 0 25px;
  background-color: rgb(0, 140, 145);
}

.list-card {
  overflow: hidden;
  margin-bottom: 30px;
}

.list-image-wrapper {
  width: 50px;
  float: left;
}

.list-image-wrapper > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.list-image-wrapper > p {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(187, 233, 190);
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 20px;
}

.list-address-wrapper {
  float: left;
  width: calc(100% - 80px);
  margin-left: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(151, 165, 162);
}

.list-address-wrapper p {
  margin: 0;
}

.list-address-wrapper > p:nth-child(1) {
  color: white;
}

.list-address-wrapper > p:nth-child(2) {
  color: rgb(144, 219, 181);
}

.grid-page-container {
  width: 98%;
  margin: 20px auto;
  padding: 30px;
  background-color: rgb(0, 140, 145);
  overflow: hidden;
}

.grid-card {
  width: 90%;
  height: 250px;
  padding: 10px;
  margin: 30px auto;
  background-color: white;
}

.grid-image-wrapper {
  width: 70px;
  margin: auto;
}

.grid-image-wrapper img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.grid-image-wrapper p {
  width: 70px;
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
  background-color: rgb(187, 233, 190);
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.grid-address-wrapper {
  margin-top: 20px;
}

.grid-address-wrapper > p {
  text-align: center;
}

.grid-address-wrapper p:nth-child(1) {
  font-weight: bold;
  font-size: 18px;
}

.grid-address-wrapper p:nth-child(2) {
  font-size: 14px;
}

.map-wrapper {
  height: 400px;
}

/* LOADER   */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: traslate(-50%, -50%);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 500px) {
  .grid-card {
    width: calc(90% * 0.5);
    float: left;
  }
  .grid-card:nth-child(2n + 1) {
    margin-left: 0;
  }
  .grid-card:nth-child(2n + 2) {
    margin-left: 10%;
  }
} 

@media screen and (min-width: 768px) {
  .grid-card {
    width: calc(90% * 0.33);
    float: left;
  }
  .grid-card:nth-child(3n + 1) {
    margin-left: 0;
  }
  
  .grid-card:nth-child(3n + 2) {
    margin-left: 5%;
  }
  
  .grid-card:nth-child(3n + 3) {
    margin-left: 5%;
  }
}

@media screen and (min-width: 992px) {
  .grid-card {
    width: calc(94% * 0.25);
    float: left;
  }
  .grid-card:nth-child(4n + 1) {
    margin-left: 0;
  }
  
  .grid-card:nth-child(4n + 2) {
    margin-left: 2%;
  }
  
  .grid-card:nth-child(4n + 3) {
    margin-left: 2%;
  }
  .grid-card:nth-child(4n + 4) {
    margin-left: 2%;
  }
}